<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fosster</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

</head>
<body>

  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Fosster</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="1">Test 1</a></li>
        <li class="tab"><a href="2">Test 2</a></li>
        <li class="tab"><a href="3">Test 3</a></li>
        <li class="tab"><a href="4">Test 4</a></li>
      </ul>
    </div>
  </nav>

</body>
</html>